<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="centered-section">
 <div>
   <h2>
     Expecting a package?
   <h2>
 </div>


 <% if current_user != nil %>
 <form action="insert_delivery" method="post">
   <div>
     <label for="tracking_box">
         Tracking number
     </label>
     <input type="text" id="description_box" name="query_description">
   </div>

   <div>
     <label for="number_box">
       Order Number
     </label>
     <input type="text" id="number_box" name="query_number">
   </div>


   <div>
     <label for="notes_box">
         Notes
     </label>
     <textarea id="notes_box" name="query_details" rows="3"></textarea>
   </div>

   <button style="padding: 12px 40px">
     Log delivery
   </button>
 </form>
 <% end %>
</div>
