<div>
 <div>
   <h2 class="centered-section">
     All packages
    </h2>
 </div>
<hr>

<div>
<table>
    <thead>
      <tr>
        <th>USPS Tracking Number</th>
        <th>Order ID</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Estimated Delivery Date
      </tr>
    </thead>

    <tbody>
      <% @deliveries.each do |delivery| %>
          <tr>
            <td><%= delivery.tracking_number %></td>
            <td><%= delivery.order_number %></td>
            <td><%= delivery.notes %></td>

            <% if !delivery.arrived %>
            <td>
              <form action="/modify_delivery/<%= delivery.id %>" method="post">
                <input type="hidden" name="arrived" value="true">
                <button type="submit">Mark as received</button>
              </form>
            </td>
            <% else %>
            <td>
              Delivered
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
