<div class="received">
 <div>
   <h2>
     Received
   </h2>
 </div>


 <ul>
 <% @deliveries.each do |delivery| %>
   <% if delivery.arrived %>
   <li>
     <%= delivery.description %><br>
     Updated <%= time_ago_in_words(delivery.updated_at) %> ago <a href="/delete_delivery/<%=delivery.id%>">Delete</a>
   </li>
   <% end %>
 <% end %>
 </ul>
</div>
